<!DOCTYPE html>
<head>
    <title>
        VIT DIARIES - News
    </title>
</head>

<header>
    VIT DIARIES
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
</header>

<body>
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="newpost.html">New Post</a>
        <a href="news.html">News</a>
        <a class="active"  href="contact.html">Contact</a>
        <a href="about.html">About</a>
    </div>
    <div id="new">
        Contact
    </div>
    </br>
    <div id="contact_table">
        <table>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email-id</th>
            </tr>
            <tr>
                <td>Dr. Rita Rani Bhattacharjee (HOD)</td>
                <td>7008214473</td>
                <td>rita.rani@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr. Felix Emmanuel</td>
                <td>9442823000</td>
                <td>felix.emmanuel@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr. Blessing Calvin  G S</td>
                <td>8870044596</td>
                <td>blessing.calvin@vit.ac.in</td>
            </tr>
            <tr>
                <td>Ms. Hannah T</td>
                <td>9488516405</td>
                <td>hannah.t@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr. Parthiban D</td>
                <td>9443311360</td>
                <td>parthiban.d@vit.ac.in</td>
            </tr>
            <tr>
                <td>Dr. Jetson Satya Gospel</td>
                <td>9444724377</td>
                <td>gospel.js@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mrs. Pallavi S</td>
                <td>9964777068</td>
                <td>pallavi.s@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr. Clinton Joseph</td>
                <td>9962325233</td>
                <td>clintonjoseph.a@vit.ac.in</td>
            </tr>
            <tr>
                <td>Dr. Dhanalakhsmi N</td>
                <td>8778184747</td>
                <td>dhanalakshmi.n@vit.ac.in</td>
            </tr>
            <tr>
                <td>Ms. Suman Tirkey</td>
                <td>9556362198</td>
                <td>suman.tirkey@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr. Hariharan</td>
                <td>8754076480</td>
                <td>hariharan.c@vit.ac.in</td>
            </tr>
            <tr>
                <td>Mr.R.Muralitharan</td>
                <td>8981608883</td>
                <td>muralitharan.r@vit.ac.in</td>
            </tr>
        </table>
    </div>
</body>
</html>