<!DOCTYPE html>
<head>
    <title>
        VIT DIARIES
    </title>
</head>

<header>
    VIT DIARIES
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
</header>

<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="newpost.html">New Post</a>
        <a href="news.html">News</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
    </div>
    {% for post in post_all %}
        <div class="post_box">
            Author : {{post.Author}}<br/><br/>
            {{post.Text}}<br/>
        </div>
    {% endfor %}
</body>
</html>