<!DOCTYPE html>
<head>
    <title>
        VIT DIARIES - New Post
    </title>
</head>

<header>
    VIT DIARIES
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
</header>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/newpost">New Post</a>
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>

    <div class="container">
        <div id="new">
            New Post
        </div>
        <form action="/home.html" method="GET" id="form1">
            <div class="form_level">
                <label for="textarea1">Post-Author: &nbsp; </label>
                <textarea id="textarea1" name="post-author" rows="5" cols="170"></textarea>
            </div>
            <div class="form_level">
                <label for="textarea2">Post-Content: &nbsp; </label>
                <textarea id="textarea2" name="post-content" rows="20" cols="170"></textarea>
            </div>
            <button type="submit" form="form1" value="Submit" id="button_sub">Post</button>
        </form>
    </div>
</body>
</html>